/* =====================
   Base Footer Styling
===================== */
.footer {
  background-color: #f6f7fa; /* light gray */
  color: #374151; /* dark gray */
  border-top: 1px solid #d1d5db;
  padding: 16px 0px 28px 0;
  font-family: 'Avenir', sans-serif;
  width: 100%;
}

/* =====================
   Container
===================== */
.footer-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px; 
}

/* =====================
   Left Section
===================== */
.footer-left {
  font-size: 14px;
  
}

.about-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

.about-link:hover {
  color: #6600EA;
}

/* =====================
   Social Links
===================== */
.footer-links {
  /* border: 1px solid red; */
  display: flex;
  gap: 15px;
  justify-content: center;
  /* margin-top: 12px; */
}

.footer-links a i {
  font-size: 16px;
  color:   #374151; 
  /* margin-top: 10px; */
  transition: color 0.2s ease;
}

.footer-links a i:hover {
  color: #6600EA;
}

/* =====================
   Disclaimer
===================== */
.footer-disclaimer {
  background-color: #ffffff; 
  border: 1px solid #e5e7eb; 
  border-radius: 8px;
  padding: 8px 8px;
  max-width: 400px;
  text-align: center;
}

.footer-disclaimer p {
  font-size: 13px;
  color: #6b7280;
  line-height: 1.4;
  margin: 0;
}

/* =====================
   Responsive Layout
===================== */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .footer-left {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .footer-links {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;  
  }

  .footer-disclaimer {
    flex: 2; 
    margin-left: 20px;
    text-align: left;

    display: flex;
    align-items: center;
  }
}
