.navbar {
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  min-height: 50px; 
  z-index: 10; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); 
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  
}

.nav-links li {
  border-right: 1px solid black;
  width: 140px;
  text-align: center;
}

.nav-links li:first-child{
  border-left: 1px solid black;
}
.nav-links li:last-child {
  border-right: 1px solid black; 
}

.nav-links li a {
  display: block;
  padding: 0 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  line-height: 50px;
  font-weight: 400;
  font-family: 'AvenirLTW01-35Light','Avenir', sans-serif;
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none; 
}

.nav-links li a:hover {
  color: #6600EA;
}

.highlight {
  color: #6600EA;
}

.hamburger {
  display: none;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: black; 
  transition: color 0.2s ease;
}

.hamburger:hover {
  color: #6600EA; 
}

.hamburger.open {
  color: #6600EA; 
}


@media (max-width: 768px) {
  .navbar {
    justify-content: flex-start; 
    border-top: none ; 
  }

  .hamburger {
    display: block;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 

  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #fdfdfd; 
    width: 100%;
    padding: 0; 
    position: absolute;
    top: 100%; 
    left: 0;
    text-align: center;
    align-items: center;
    user-select: none;
  }

  .nav-links li,
  .nav-links li:first-child,
  .nav-links li:last-child {
    border: none; 
  }

  .nav-links li a {
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    line-height: normal; 
  }

  .nav-links li a:hover {
    color: #6600EA;
  }

  .nav-links.active {
    display: flex;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    border-radius: 8px;
    padding: 16px;
    margin-top: 4px;
  }
}
