.header-container{
    text-align: center;
    padding-top: 8px;
    /* border: 1px solid red; */
}

.header-container h1{
    font-size: 92px;
    font-family: 'Playfair Display', serif;
    margin-top: 0;
    letter-spacing: 8px;
    margin-bottom: 32px;
    display: inline-block;
    transition: transform 0.8s ease;
    
}

.header-container h1:hover{
    transform:scaleX(1.1);
}

.header-container p{
    font-size: 24px;
    letter-spacing: 8px;
    word-spacing: 4px;
    margin-bottom: 4px;
    font-family: 'AvenirLTW01-35Light','Avenir', sans-serif;
}

/* Tablet screens (medium) */
@media (max-width: 1024px) {
  .header-container h1 {
    font-size: 72px;
    letter-spacing: 6px;
  }

  .header-container p {
    font-size: 20px;
    letter-spacing: 6px;
    word-spacing: 3px;
  }
}

/* Mobile large screens */
@media (max-width: 768px) {
  .header-container h1 {
    font-size: 54px;
    letter-spacing: 4px;
  }

  .header-container p {
    font-size: 18px;
    letter-spacing: 4px;
    word-spacing: 2px;
  }
}

/* Mobile small screens */
@media (max-width: 480px) {
  .header-container h1 {
    font-size: 36px;
    letter-spacing: 2px;
    /* margin-bottom: px; */
  }

  .header-container p {
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 1px;
  }
}
