.bookList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2rem;
  row-gap: 1.5rem;
  margin: 2px 8px;
  font-family: 'AvenirLTW01-35Light', 'Avenir', sans-serif;
  /* border: 1px solid red; */
}

.bookCard {
  border: 1px solid #ddd;
  background: #fff;
  padding: 16px;
  transition: transform 0.2s ease;
}

.bookCard:hover {
  transform: translateY(-1px);
  border-color: #888;
}

.bookCard h3 {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 8px;
  font-family: 'Playfair Display', serif;
}

.bookCard p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 12px;
}

.loader{
  padding: 10px 16px;
  font-size: 15px;
  text-align:center;
  font-weight: 400;
  background: #ffffff;
  border-radius: 8px;
  margin: 12px auto;
  width: "fit-content";
  font-family: 'AvenirLTW01-35Light', 'Avenir', sans-serif;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.06); */
}

.bookCard a {
  margin-right: 12px;
  font-size: 0.85rem;
  text-decoration: none;
  color: #555;
  border: 1px solid #555;
  padding: 6px 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.bookCard a:hover {
  background: #6600EA;
  border: #6600EA;
  color: #fff;
}
