.wrapper{
  max-width: 1000px;
  margin: 32px auto;
  font-family: 'AvenirLTW01-35Light', 'Avenir', sans-serif;
  /* border: 1px solid red; */
}

.navLinks{
  margin: 0px 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.navLinks button{
  margin: 28px 6px;
  text-decoration: none;
  color: #4f4f4f;
  font-weight: lighter;
  font-size:  0.9rem;
  background: transparent;
  border: none;
  font-family: 'AvenirLTW01-35Light', 'Avenir', sans-serif;
}

.navLinks button:hover{
  color:#6600EA ;
  cursor: pointer;
}

.journalCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 3.5rem;
  row-gap: 2rem;
  padding: 10px 0;
  margin: 16px 30px;
  justify-content: center;
}

.journalCard {
  /* border: 1px solid black; */
  border: 1px solid #666;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.2s ease;
}

.cardCover {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
}

.cardMeta {
  font-size: 0.7rem;
  color: #666;
  margin-bottom: 0.8rem; 
}

.dot-separator {
  font-size: 0.6rem;
  color: #aaa;       
  margin: 0 7px;
  vertical-align: middle;
}

.cardTitle{
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-family: 'Playfair Display', serif;
  color: black;
}

.cardExcerpt {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 1.3rem;
}

.navLink {
  text-decoration: none;
  color: inherit; /* or your desired color */
}

.navLink:hover .cardTitle,
.navLink:hover .cardExcerpt {
  color: #6600EA;
}

.authorDetails{
  font-size: 0.9rem;
  color: #666;
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  /* border: 1px solid red; */
}

.heart-icon {
  width: 16px;
  height: 16px; 
  fill: #e0245e;
  margin-left: 4px;
}

@media(max-width:600px){
  .navLink{
    justify-content: center;
  }
  .navLink button{
    flex: 1 1 auto;
    text-align: center;
  }
}





