.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;
  background-color: white;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border: 1px solid #848484;
}

.card:hover {
  transform: translateY(-0.5px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 20px;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  /* margin-bottom: 15px; */
  color: black;
  font-family: 'Playfair Display', serif;
}

.button {
  padding: 10px 20px;
  border: 1px solid #333;
  margin-top: 12px;
  border-radius: 6px;
  background-color: white;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: 'AvenirLTW01-35Light','Avenir', sans-serif;
}

.button:hover {

  background-color: #6600EA;
   border: 1px solid #6600EA;
  color: white;
}
